.vs/
*.user
*.suo
*.vscode/
*/bin
*/obj
Tasky.Web/appsettings.Development.json
Tasky.Web/appsettings.json
/Tasky.Datos/obj/Debug/net6.0/Tasky.Datos.AssemblyInfo.cs
/Tasky.Datos/obj/Debug/net6.0/Tasky.Datos.AssemblyInfoInputs.cache
/Tasky.Logica/obj/Debug/net6.0/Tasky.Logica.AssemblyInfoInputs.cache
/Tasky.Logica/obj/Debug/net6.0/Tasky.Logica.AssemblyInfo.cs
/Tasky.Logica/obj/Debug/net6.0/Tasky.Logica.csproj.AssemblyReference.cache
/Tasky.Datos/obj/Debug/net6.0/Tasky.Datos.AssemblyInfo.cs
/Tasky.Datos/obj/Debug/net6.0/Tasky.Datos.AssemblyInfoInputs.cache
