@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <a asp-controller="Actions" asp-action="Index">
        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="13.2265" width="37.204" height="37.204" rx="3" transform="rotate(-20.8249 0 13.2265)" fill="#8989F7" />
            <rect x="5.39801" y="5.39801" width="37.204" height="37.204" rx="3" fill="#5F52DD" />
            <rect x="23.6944" y="25.6339" width="6.6613" height="6.6613" rx="3.33065" transform="rotate(-48.1212 23.6944 25.6339)" fill="white" />
            <rect x="29.271" y="19.3022" width="6.6613" height="6.6613" rx="3.33065" transform="rotate(-48.1212 29.271 19.3022)" fill="white" />
            <rect x="9.35095" y="24.0574" width="6.6613" height="18.3186" rx="3.33065" transform="rotate(-48.1212 9.35095 24.0574)" fill="white" />
        </svg>
    </a>

}
