@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}


    <nav class="main-menu bg-dark-variant-1">
        <ul class="navbar-main">
            <li class="nav-item">
                <a class="icon-btn  @(ViewBag.Controller == "Actions" ? "active" : null)" asp-controller="Actions" asp-action="Index">
                    <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-activity" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2" />
                    </svg>
                </a>
            </li>
            <li class="nav-item">
            <a class="icon-btn   @(ViewBag.Controller == "Perfil" ? "active" : null)" asp-controller="Perfil" asp-action="Index">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                    </svg>
                </a>
            </li>
        <li class="nav-item">
            <a class="icon-btn @(ViewBag.Controller == "Logout" ? "active" : null)" asp-controller="Login" asp-action="LogOut">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.5 12a.5.5 0 0 1-.5-.5V9H5.707l4.646-4.646a.5.5 0 0 1 .708.708L6.414 8.5H10v-2a.5.5 0 0 1 1 0v3a.5.5 0 0 1-.5.5H5.5a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 1 0v2h4.293l-4.646 4.646a.5.5 0 0 1-.708-.708L10.5 9.5V12a.5.5 0 0 1-.5.5z" />
                </svg>
            </a>
        </li>

           
        </ul>
    </nav>

