@model List<Tasky.Datos.EF.TaskyObject>

@{
    ViewData["Title"] = "Acciones";
    
}

<div class="container mt-4">
    <h2>Lista de Mensajes</h2>

    <div class="col-md-3">
        <partial name="/Views/Shared/PartialViews/_pvMenuLateral.cshtml" />
    </div>

    @{
        string actionName = "Index";
        if (ViewBag.FiltroSeccion == "hoy")
        {
            actionName = "Hoy"; 
        }
        else if (ViewBag.FiltroSeccion == "spam")
        {
            actionName = "Spam";
        }
    }
    <div>
        @using (Html.BeginForm(actionName, "Actions", FormMethod.Get, new { id = "filtroForm" }))
        {
            <input type="text" id="filtroInput" name="filtroInput" class="form-control"
                   placeholder="Filtrar por asunto o de" value="@ViewBag.FiltroInput" oninput="relentizarSubmit()" />

            <partial name="/Views/Shared/PartialViews/_pvComboFiltroPrioridad.cshtml" />
            
        }
    </div>

   
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"><input type="checkbox" id="selectAll"></th>
                <th scope="col">Asunto</th>
                <th scope="col">Prioridad</th>
                <th scope="col">De</th>
            </tr>
        </thead>
        <tbody id="tablaCuerpo">
            @foreach (var mail in Model)
            {
                <tr>
                    <td><input type="checkbox" class="itemCheckbox"></td>
                    <td>@mail.Sender</td>
                    <td>@mail.Priority</td>
                    <td>@mail.Sender</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="/js/site.js"></script>