<div class="menu-lateral">
    <h4>Menú</h4>
    <ul class="list-group">
        <li class="list-group-item"><a href="@Url.Action("Hoy", "Actions")">Hoy</a></li>
        <li class="list-group-item"><a href="@Url.Action("Historial", "Actions")">Historial</a></li>
        <li class="list-group-item"><a href="@Url.Action("Spam", "Actions")">Spam</a></li>
        <li class="list-group-item"><a href="@Url.Action("MisTableros", "Actions")">Mis Tableros</a></li>
    </ul>
</div>
