@{
    ViewData["Title"] = "Verificar Correo";
}
<div class="container bg-dark hcalc d-flex justify-content-center align-items-center">
    <div class="row w-100 ">
        <div class="col-10 col-md-7  mx-auto">
            <div class="card shadow-lg p-2">
                <div class="d-flex w-100">
                    <div>
                        <header class="text-center bg-dark p-5 h-100">
                            <partial name="_pvLogo_brand" />
                        </header>
                    </div>
                    <div class="w-100 p-4">
                        <div class="card-header text-center bg-primary text-white">
                            <h4>Verificar</h4>
                        </div>
                        <div class="card-body">
                            <div>
                                <h4 class="text-center">Se ha enviado un enlace de confirmación a su correo electrónico.</h4>
                                <p class="mt-5">Por favor, revise su bandeja de entrada y haga clic en el enlace para confirmar su cuenta.</p>
                                <p class="">Si no encuentra el correo de verificación, revise su carpeta de spam o vuelva a solicitar el envío del mismo.</p>
                            </div>
                            <div>
                                <p class="mt-4">
                                    ¿Ya confirmaste tu correo?
                                    <a asp-controller="Login" asp-action="Index">Iniciar sesión</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
