@model LoginViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <div class="card">
                <div class="card-header text-center bg-primary text-white">
                    <h4>Iniciar Sesión</h4>
                </div>
                <div class="card-body">
                    <form asp-action="SignIn" method="post">
                        <div class="form-group">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" placeholder="Ingresa tu email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Ingresa tu contraseña" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                        </div>
                        <div class="text-center mt-3">
                            <a asp-action="Registro" class="text-decoration-none">¿No tienes una cuenta? Regístrate aquí</a>
                        </div>
                    </form>
                    <div class="text-center mt-4">
                        <span class="d-block mb-3">O</span>
                        <form asp-action="SignIn" asp-controller="Google" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger btn-block">
                                <i class="fab fa-google me-2"></i> Iniciar sesión con Google
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

